<div class="row">
    <div class="col-xs-12 col-sm-12">
        <ul class="recipe-list">
            <li ng-repeat="recipe in vm.recipes" class="" ng-class="{'no-margin': $last }">
                <!--<time datetime="{{recipe.createdAt}}">
                    <span class="day">{{recipe.createdAt | date:'dd'}}</span>
                    <span class="month">{{recipe.createdAt | date:'MMMM'}}</span>
                    <span class="year">{{recipe.createdAt | date:'yyyy'}}</span>
                    <span class="time">{{recipe.createdAt | date:'H:mm'}}</span>
                </time>-->
                <img alt="{{recipe.name}}" ng-if="recipe.images[0]" ng-src="data:{{recipe.images[0].type}};base64,{{recipe.images[0].base64}}" />
                <img alt="{{recipe.name}}" ng-if="!recipe.images[0]" />
                <div class="info">
                    <h3 class="title">{{recipe.name}}</h3>
                    <p class="desc">{{recipe.description}}</p>
                   <!-- <ul>
                        <li style="text-align:left;padding-left: 10px;"><span class="fa fa-calendar"></span>&nbsp;&nbsp;{{recipe.event.startDate | date:'dd.mm.yyyy'}}</li>
                    </ul>-->
                </div>
                <!--<div class="social">
                        <ul>
                            <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
                            <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
                            <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
                        </ul>
                    </div>-->
                <div class="social">
                    <ul>
                        <li class="facebook" style="width:33%;">
                            <a class="" ng-click="vm.onRecipeItemClick(recipe)">
                                <span class="fa fa-pencil-square-o"></span>
                            </a>
                        </li><!--
                        <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
                        <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>-->
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
