<form id="recipe-form" class="form-horizontal" ng-submit="vm.submit(eventform.$valid, eventform, $event)" name="eventform" novalidate>
    <fieldset>
        <legend class="text-center">{{vm.event.title ? "Edit " + vm.event.title : "New event"}}</legend>

        <!-- Title input-->
        <div class="form-group">
            <label class="col-md-3 control-label" for="title">Titel</label>
            <div class="col-md-9" ng-class="{ 'has-error': eventform.title.$touched && eventform.title.$invalid }">
                <input id="title" name="title" type="text" placeholder="Titel" class="form-control" ng-model="vm.event.title" required>
                <div class="help-block" ng-messages="eventform.title.$error" ng-show="eventform.title.$touched">
                    <p ng-message="required">Title is required.</p>
                </div>
            </div>
        </div>
        <!--Description body-->
        <div class="form-group">
            <label class="col-md-3 control-label" for="description">Your event description</label>
            <div class="col-md-9" ng-class="{ 'has-error': eventform.description.$touched && eventform.description.$invalid }">
                <textarea class="form-control" id="description" name="description" placeholder="Please enter your description here..." rows="5" ng-model="vm.event.description" required></textarea>
                <div class="help-block" ng-messages="eventform.description.$error" ng-show="eventform.description.$touched">
                    <p ng-message="required">Description is required.</p>
                </div>
            </div>
        </div>
        <!-- Date -->

        <div class="form-group">
            <label class="col-md-3 control-label" for="description">Your event start date</label>
            <div class="col-md-4">
                <p class="input-group">
                    <input type="text" class="form-control" name="eventstartdate" id="eventstartdate"
                           uib-datepicker-popup="{{vm.datepicker.format}}"
                           ng-model="vm.event.startDate"
                           is-open="vm.datepicker.status.openedstart"
                           min-date="vm.datepicker.minDate"
                           max-date="vm.datepicker.maxDate"
                           datepicker-options="vm.datepicker.dateOptions"
                           ng-change="vm.datepicker.onChanged('start', vm.event.startDate)"
                           close-text="Close"
                           required>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.datepicker.open('start', $event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    <div class="help-block" ng-messages="eventform.eventstartdate.$error" ng-show="eventform.eventstartdate.$touched">
                        <p ng-message="required">Event date is required.</p>
                    </div>
                </p>
            </div>
            <div class="col-md-3">
                <label class="col-md-2 control-label" for="description">Start</label>
                <uib-timepicker class="datetimepicker" ng-model="vm.event.startDate"
                                ng-change="vm.timepicker.onChanged('start')"
                                hour-step="vm.timepicker.hstep"
                                minute-step="vm.timepicker.mstep"
                                show-meridian="vm.timepicker.ismeridian"
                                show-spinners="false">
                </uib-timepicker>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="description">Your event end date</label>
            <div class="col-md-4">
                <p class="input-group">
                    <input type="text" class="form-control" name="eventenddate" id="eventenddate"
                           uib-datepicker-popup="{{vm.datepicker.format}}"
                           ng-model="vm.event.endDate"
                           is-open="vm.datepicker.status.openedend"
                           min-date="vm.datepicker.endDate.minDate"
                           max-date="vm.datepicker.maxDate"
                           datepicker-options="vm.datepicker.dateOptions"
                           ng-change="vm.datepicker.onChanged('end', vm.event.endDate)"
                           close-text="Close"
                           required>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.datepicker.open('end', $event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    <div class="help-block" ng-messages="eventform.eventenddate.$error" ng-show="eventform.eventenddate.$touched">
                        <p ng-message="required">Event date is required.</p>
                    </div>
                </p>
            </div>
            <div class="col-md-3">
                <label class="col-md-2 control-label" for="description">End</label>
                <uib-timepicker class="datetimepicker" ng-model="vm.event.endDate"
                                ng-change="vm.timepicker.onChanged('end')"
                                hour-step="vm.timepicker.hstep"
                                minute-step="vm.timepicker.mstep"
                                show-meridian="vm.timepicker.ismeridian"
                                show-spinners="false">
                </uib-timepicker>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="description">Add recipe</label>
            <div class="col-md-1">
                <p class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default " ng-click="vm.onAddRecipe()"><i class="glyphicon glyphicon-th-list"></i></button>
                    </span>
                </p>
            </div>
            <ul class="list-group col-md-5">
                <li class="list-group-item" style="position:relative" ng-repeat="recipe in vm.recipeList">
                    <span>{{recipe.name}}</span>
                    <div class="list-item-btn-list">
                        <ul>
                            <li style="">
                                <a ng-click="vm.onRecipeSelected(recipe, $event)">
                                    <span class="glyphicon" ng-class="{'glyphicon-ok':recipe.selectedToAdd, 'glyphicon-remove':!recipe.selectedToAdd}"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Form actions -->
        <div class="form-group">
            <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Save</button>
            </div>
        </div>
    </fieldset>
</form>
