<div id="recipes" class="row list-group">
    <div id="recipe_{{recipe.id}}" class="item col-xs-4 col-lg-4" ng-repeat="recipe in vm.recipeList" ng-click="vm.onSelectRecipe(recipe, $event)">
        <div class="thumbnail">
            <img class="group list-group-image" src="images/placeholder_recipe.png" alt="" />
            <div class="caption">
                <h4 class="group inner list-group-item-heading">
                        {{recipe.name}}
                    </h4>
                <p class="group inner list-group-item-text">
                    {{recipe.description}}
                </p>
                <!--<div class="">
                     <div class="checkbox checkbox-success">
                        <input id="in_{{recipe.id}}" type="checkbox">
                        <label for="in_{{recipe.id}}"></label>
                    </div>
                </div>-->
                <div class="row">
                    <div class="col-xs-6 col-md-6" ng-hide="vm.showEditBtn">
                        <a class="btn btn-success btn-sm" ui-sref="recipe.detail({name:'{{recipe.name}}'})">Detail</a>
                    </div>
                    <div class="col-xs-6 col-md-6" ng-show="vm.showEditBtn">
                        <a class="btn btn-success btn-sm" ui-sref="myrecipes.edit({name:'{{recipe.name}}'})">Edit</a>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <p class="small text-right user-detail-link">
                            by: <a class="small" ui-sref="user.detail({id:'{{recipe.recipeowner.id}}'})"> {{recipe.recipeowner.name}}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




