<div class="row">
    <h2>{{vm.recipe.name}}</h2>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6" ng-controller="CarouselCtrl as vmCarousel">
        <uib-carousel interval="vmCarousel.carousel.interval" no-wrap="vmCarousel.carousel.noWrapSlides" template-url="views/partials/carousel.template.html">
            <uib-slide ng-repeat="slide in vm.recipe.images" active="slide.active">
                <img ng-src="data:{{slide.type}};base64,{{slide.base64}}" style="max-height:400px; margin:0 auto;">
                <!--<div class="carousel-caption">
                    <h4>Slide {{$index}}</h4>
                    <p>{{vm.carousel.slide.text}}</p>
                </div>-->
            </uib-slide>
        </uib-carousel>
    </div>
</div>
<div class="">
    <legend>Description</legend>
    <div class="container ingrediants-list-container">
        <p>{{vm.recipe.description}}</p>
    </div>
</div>
<div class="">
    <legend>Ingrediants</legend>
    <div class="container ingrediants-list-container">
        <!--<div class="row" ng-repeat="ingredient in vm.recipe.ingredients">
            <div class="col-xs-2 text-right">Amount</div>
            <div class="col-xs-1">Unit</div>
            <div class="col-xs-9">Name</div>
        </div>
        <hr>-->
        <div class="row" ng-repeat="ingredient in vm.recipe.ingredients">
            <div class="col-xs-2 text-right">{{ingredient.amount}}</div>
            <div class="col-xs-1">{{ingredient.unit}}</div>
            <div class="col-xs-9">{{ingredient.name}}</div>
        </div>
    </div>
</div>
