<form id="recipeForm" class="form-horizontal" ng-submit="vm.submit(recipeForm.$valid, $event)" name="recipeForm" novalidate>
    <fieldset>
        <legend class="text-center">{{vm.recipe.name ? "Edit " + vm.recipe.name : "New recipe"}}</legend>
        <!-- Name input-->
        <div class="form-group">
            <label class="col-md-3 control-label" for="name" translate="edit.label.name"></label>
            <div class="col-md-9" ng-class="{ 'has-error': recipeForm.name.$touched && recipeForm.name.$invalid }">
                <input id="name" name="name" type="text" placeholder="{{'edit.placeholder.name' | translate}}" class="form-control" ng-model="vm.recipe.name" required>
                <div class="help-block" ng-messages="recipeForm.name.$error" ng-show="recipeForm.name.$touched">
                    <p ng-message="required">{{'edit.validation.required.name' | translate}}</p>
                </div>
            </div>
        </div>

        <!-- Message body -->
        <div class="form-group">
            <label class="col-md-3 control-label" for="description" translate="edit.label.description"></label>
            <div class="col-md-9" ng-class="{ 'has-error': recipeForm.description.$touched && recipeForm.description.$invalid }">
                <textarea class="form-control" id="description" name="description" placeholder="{{'edit.placeholder.description' | translate}}" rows="5" ng-model="vm.recipe.description" required></textarea>
                <div class="help-block" ng-messages="recipeForm.description.$error" ng-show="recipeForm.description.$touched">
                    <p ng-message="required">{{'edit.validation.required.description' | translate}}</p>
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-3 control-label" for="message" translate="edit.label.ingredients"></label>
            <div class="col-md-9">
                <div class="form-group row" ng-repeat="ingredient in vm.recipe.ingredients">
                    <ng-form name="innerFormDescription">
                        <div class="col-xs-2" ng-class="{ 'has-error': innerFormDescription.amount.$touched && innerFormDescription.amount.$invalid }">
                            <input type="text" class="form-control" name="amount" placeholder="{{'edit.placeholder.amount' | translate}}" ng-model="ingredient.amount" required>
                            <div class="help-block" ng-messages="innerFormDescription.amount.$error" ng-show="innerFormDescription.amount.$touched">
                                <p ng-message="required">{{'edit.validation.required.amount' | translate}}</p>
                            </div>
                        </div>
                        <div class="col-xs-3" ng-class="{ 'has-error': innerFormDescription.unit.$touched && innerFormDescription.unit.$invalid }">
                            <!--<input type="text" class="form-control" placeholder="unit" name="unit" ng-model="ingredient.unit" required>-->

                            <div class="btn-group">
                                <a class="btn btn-default">{{ingredient.unit}}</a>
                                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="unit in vm.units"><a ng-click="vm.onUnitClick(ingredient, unit, $event)">{{unit}}</a></li>
                                </ul>
                            </div>
                             <div class="help-block" ng-messages="innerFormDescription.unit.$error" ng-show="innerFormDescription.unit.$touched">
                                <p ng-message="required">{{'edit.validation.required.unit' | translate}}</p>
                            </div>
                        </div>
                        <div class="col-xs-6" ng-class="{ 'has-error': innerFormDescription.ingrediantName.$touched && innerFormDescription.ingrediantName.$invalid }">
                            <input type="text" name="ingrediantName" class="form-control" placeholder="{{'edit.placeholder.ingredient' | translate}}" ng-model="ingredient.name" required>
                            <div class="help-block" ng-messages="innerFormDescription.ingrediantName.$error" ng-show="innerFormDescription.ingrediantName.$touched">
                                <p ng-message="required">{{'edit.validation.required.name' | translate}}</p>
                            </div>
                        </div>
                        <div class="col-xs-1 text-right" style="padding-top: 4px;">
                            <a type="button" class="btn btn-danger btn-sm" ng-click="vm.onRemoveIngredientInput($index)">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </div>
                    </ng-form>
                </div>
            </div>
            <div class="col-md-12">
                <div class="text-right">
                    <a type="button" class="btn btn-success btn-add" ng-click="vm.addIngredientInput()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true" translate="edit.action.addingrediant"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="divider">&nbsp;</div>
        <!-- Form actions -->
        <div class="form-group">
            <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-default" ng-disabled="!recipeForm.$valid"><span class="glyphicon glyphicon-ok" translate="edit.action.save"></span></button>
                <a ui-sref="main.myrecipes.imageupload({name: {{'vm.recipe.name'}} })" class="btn btn-default" ng-disabled="!recipeForm.$valid">
                    <span class="glyphicon glyphicon-picture" translate="edit.action.editimage"></span>
                </a>
            </div>
        </div>
    </fieldset>
</form>
