<div class="row">
    <legend class="text-center"><h2>{{vm.recipe.name}}</h2></legend>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6" ng-controller="CarouselCtrl as vmCarousel">
        <uib-carousel ng-if="vm.recipe.images.length > 0" interval="vmCarousel.carousel.interval" no-wrap="vmCarousel.carousel.noWrapSlides" template-url="views/partials/carousel.template.html">
            <uib-slide ng-repeat="slide in vm.recipe.images" active="slide.active">
                <img  ng-src="{{slide.absoluteUrl}}" style="max-height:400px; margin:0 auto;">
                <!--<div class="carousel-caption">
                    <h4>Slide {{$index}}</h4>
                    <p>{{vm.carousel.slide.text}}</p>
                </div>-->
            </uib-slide>
        </uib-carousel>
        <p ng-if="vm.recipe.images.length == 0">
            <img ng-src="images/placeholder_recipe.png" >
        </p>
    </div>
</div>
<div class="">
    <legend translate="recipe.description"></legend>
    <div class="container ingrediants-list-container">
        <p>{{vm.recipe.description}}</p>
    </div>
</div>
<div class="">
    <legend translate="recipe.ingrediants"></legend>
    <div class="container ingrediants-list-container">
        <!--<div class="row" ng-repeat="ingredient in vm.recipe.ingredients">
            <div class="col-xs-2 text-right">Amount</div>
            <div class="col-xs-1">Unit</div>
            <div class="col-xs-9">Name</div>
        </div>
        <hr>-->
        <div class="row" ng-repeat="ingredient in vm.recipe.ingredients">
            <div class="col-xs-2 text-right">{{ingredient.amount}}</div>
            <div class="col-xs-1">{{ingredient.unit}}</div>
            <div class="col-xs-9">{{ingredient.name}}</div>
        </div>
    </div>
</div>
