<div class="panel panel-default">
    <div class="panel-heading"><strong>Upload Files</strong> <small></small></div>
    <div class="panel-body row">
        <div class="col-xs-12 col-md-7">
            <!-- Standar Form -->
            <h4>Select files from your computer</h4>
            <form id="fileuploadForm" name="fileuploadForm" role="form">
                <div class="form-inline">
                    <div class="form-group">
                        <!--<input type="file" name="files[]" id="js-upload-files" multiple>-->
                        <input type="file" ngf-select ngf-multiple="true" ng-model="vm.imagesToUpload" multiple ngf-change="vm.createProgressbar(vm.imagesToUpload)" required>
                        <div class="form-inline" ng-class="{ 'has-error': fileuploadForm.recipefile.$touched && fileuploadForm.recipefile.$invalid }">
                            <div class="help-block" ng-messages="fileuploadForm.recipefile.$error" ng-show="fileuploadForm.recipefile.$touched">
                                <p ng-message="required">Amount is required.</p>
                            </div>
                        </div>
                    </div>
                    <button ng-click="vm.uploadImage(vm.imagesToUpload)" ng-disabled="!fileuploadForm.$valid" class="btn btn-sm btn-primary" id="js-upload-submit">Upload file</button>
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-md-5">
            <!-- Drop Zone -->
            <h4>Or drag and drop files below</h4>
            <div ngf-drop="vm.onFileDroped(vm.dropFiles)" ng-model="vm.dropFiles" ngf-drag-over-class="dragover" ngf-pattern="'image/*'" ngf-keep class="upload-drop-zone" id="drop-zone">
                Just drag and drop files here
            </div>
            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
        </div>
    </div>
    <div class="panel-body row">
        <!-- Progress Bar -->
        <!--<h5>Processed files</h3>-->
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-2" ng-repeat="imagesUp in vm.imagesToUpload">
                    <img ngf-thumbnail="imagesUp" ngf-size="{height:75, width:75}">
                    <div>
                        <label class="control-label">{{imagesUp.name}}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="progress col-xs-12" ng-show="vm.uploadImage.progress > 0">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{vm.uploadImage.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{vm.uploadImage.progress}}%;">
                        <span class="sr-only">{{vm.uploadImage.progress}}%</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Upload Finished -->
        <!--<div class="col-xs-12 col-md-5 js-upload-finished">

            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-01.jpg</a>
                <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-02.jpg</a>
            </div>
        </div>-->
    </div>
</div>

<div class="panel panel-default recipe-image-list">
    <div class="panel-heading">
        <strong>Images:</strong> <small>{{vm.recipe.name}}</small>
        <span ng-click="vm.imagesCollapsed = !vm.imagesCollapsed" class="chevron glyphicon" ng-class="{'glyphicon-chevron-up': !vm.imagesCollapsed,'glyphicon-chevron-down': vm.imagesCollapsed}"></span>
    </div>
    <div class="row" collapse="vm.imagesCollapsed" >
        <div class="col-xs-6 col-sm-4 col-md-4 text-left image-container"
             ng-class="{'text-center': $index % 3 == 1,'text-right': $index % 3 == 2,'mbottom': $index < vm.recipe.images.length - 3, 'toScale': image.selected }"
             ng-repeat="image in vm.recipe.images"
             ng-click="vm.onSelectImage(image, $event)">
            <i ng-show="image.selected" class="fa fa-times" ng-click="vm.onDeleteImage(image, $event); $event.stopPropagation();"></i>
            <img src="data:{{image.type}};base64,{{image.base64}}" style="max-width:99.0%">
        </div>
    </div>
</div>
